*{
    box-sizing: border-box;
}
body{
    margin: auto;
    padding: 2em;
}
h1{
    color: white;
}
.row{
    padding: 1rem;
}
.barra{
    background-color: #eb1616;
}
.cajaBorde{
    border-style: solid;
    border-color: #1c4601;
    height: 30vh;
}

